<div *ngIf="rechargeService.nautaRecharges">

    <ion-card class="shadow-lg" mode="md">
        <mat-tab-group dynamicHeight selectedIndex="0">
            <mat-tab label="Recarga simple">
                <ion-card-content>

                    <form [formGroup]="nautaForm">

                        <div class="form-group">
                            <ion-label class="">Nombre:</ion-label>
                            <input [class.error-input]="!formControl.client.valid && (formControl.client.dirty || formControl.client.touched)"
                                   [matAutocomplete]="autoName" aria-describedby="nameHelp" aria-label=""
                                   autocomplete="off" formControlName="client" id="client"
                                   matInput maxlength="50" minlength="2" placeholder="Nombre del cliente"
                                   type="text">
                            <mat-autocomplete #autoName="matAutocomplete">
                                <mat-option *ngFor="let conctactList of filteredNames | async"
                                            [value]="conctactList.name">
                                    {{conctactList.name}}
                                    <b>{{conctactList.phone}}</b>
                                </mat-option>
                            </mat-autocomplete>
                            <!-- Error messages -->
                            <span *ngIf="formControl.client.errors?.minlength && (formControl.client.dirty || formControl.client.touched)"
                                  class="error">
                        Nombre del cliente de 2 caracteres mínimo.
                    </span>
                        </div>
                        <div class="form-group">
                            <ion-label class="required">Cuenta:</ion-label>
                            <div class="input-group">
                                <ion-input
                                        [class.error-input]="!formControl.account.valid && (formControl.account.dirty || formControl.account.touched)"
                                        autocomplete="off" formControlName="account" id="account"
                                        minlength="2" placeholder="Cuenta nauta" required
                                        type="text"></ion-input>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">@nauta.com.cu</button>
                                </div>
                            </div>
                            <!-- Error messages -->
                            <span *ngIf="formControl.account.errors?.required && (formControl.account.dirty || formControl.account.touched)"
                                  class="error">
                        Cuenta del cliente es obligatorio.
                    </span>
                            <span *ngIf="formControl.account.errors?.minlength && (formControl.account.dirty || formControl.account.touched)"
                                  class="error">
                        Cuenta del cliente de 2 caracteres mínimo.
                    </span>
                            <span *ngIf="formControl.account.errors?.emailDomain
                     && (formControl.account.dirty || formControl.account.touched)" class="error">
                        Cuenta del cliente incorrecta.
                    </span>
                        </div>
                        <div class="form-group">
                            <ion-label class="required">Recargas disponibles:</ion-label>
                            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet"
                                        (keyup.enter)="onSubmit()" aria-describedby="priceHelp" cancelText="Cancelar"
                                        formControlName="recharge" okText="Seleccionar"
                                        placeholder="Seleccione un valor">
                                <ion-select-option *ngFor="let item of rechargeService.nautaRecharges;"
                                                   [value]="item.id">{{item.slug}}</ion-select-option>
                            </ion-select>
                        </div>
                        <div class="form-group">
                            <ion-radio-group value="{{action}}">
                                <ion-item (click)="setAction(1)"
                                          class="ion-no-padding custom-radio-group" lines="none">
                                    <ion-radio class="mr-2" color="primary" value="1"></ion-radio>
                                    <ion-label>Recargar ahora</ion-label>
                                </ion-item>
                                <ion-item (click)="setAction(2)"
                                          class="ion-no-padding custom-radio-group" lines="none">
                                    <ion-radio class="mr-2" color="tertiary" value="2"></ion-radio>
                                    <ion-label>Enviar recarga al carrito</ion-label>
                                </ion-item>
                            </ion-radio-group>
                        </div>
                        <div class="form-group mb-0">
                            <ion-button color="primary" expand="block" (click)="onSubmit()">
                                {{buttonSubmitText}}
                            </ion-button>
                        </div>

                    </form>

                </ion-card-content>
            </mat-tab>
        </mat-tab-group>
    </ion-card>

</div>

<ion-spinner *ngIf="!rechargeService.nautaRecharges" class="loading" color="primary" name="lines"></ion-spinner>
