<app-toolbar active="settings" title="Configuraciones"></app-toolbar>

<ion-content scroll-y="true">

    <ion-list mode="md">
        <ion-item-group>
            <ion-item-divider>
                <ion-label>Editar datos de perfil</ion-label>
            </ion-item-divider>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_EDIT_PROFILE)">
                <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                <ion-label>Datos generales</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_EDIT_SALES)"
                    *ngIf="settingsService.appService.isPostSale()">
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                <ion-label>Precios de costos y ventas</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item (click)="settingsService.appService.logout()">
                <ion-icon name="log-out-outline" slot="start"></ion-icon>
                <ion-label>Cerrar sesión</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item-divider>
                <ion-label>Editar datos de seguridad</ion-label>
            </ion-item-divider>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_EDIT_PASSWORD)">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-label>Cambiar contraseña</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_FINGER_ORINT_SETTINGS)">
                <ion-icon name="finger-print-outline" slot="start"></ion-icon>
                <ion-label>Acceso biométrico</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item (click)="settingsService.confirmDisableAccount()">
                <ion-icon name="remove-circle-outline" slot="start"></ion-icon>
                <ion-label>Desabilitar mi cuenta</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item-divider *ngIf="settingsService.appService.isAdmin()">
                <ion-label>Usuarios</ion-label>
            </ion-item-divider>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_AGENTS_LIST)"
                    *ngIf="settingsService.appService.isAdmin()">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                <ion-label>Mis usuarios</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_AGENTS_CREATE)"
                    *ngIf="settingsService.appService.isAdmin()">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label>Crear usuario</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_AGENTS_TRANSFER)"
                    *ngIf="settingsService.appService.isAdmin()">
                <ion-icon name="wallet-outline" slot="start"></ion-icon>
                <ion-label>Transferir crédito</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <div *ngIf="!settingsService.appService.isAdmin() && !settingsService.appService.isPostSale()">

                <ion-item-divider>
                    <ion-label>Crédito</ion-label>
                </ion-item-divider>

                <ion-item
                        (click)="settingsService.appService.navigateToUrl(appRoutes.APP_TRANSFER_CREATE)">
                    <ion-icon name="cash-outline" slot="start"></ion-icon>
                    <ion-label>Transferir crédito</ion-label>
                    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                </ion-item>

                <ion-item
                        (click)="settingsService.appService.navigateToUrl(appRoutes.APP_TRANSFER_LIST)">
                    <ion-icon name="list-circle-outline" slot="start"></ion-icon>
                    <ion-label>Historial de transferencias</ion-label>
                    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                </ion-item>

                <ion-item
                        (click)="settingsService.appService.navigateToUrl(appRoutes.APP_CREDIT_CARD_DETAIL)">
                    <ion-icon name="list-circle-outline" slot="start"></ion-icon>
                    <ion-label>Historial crédito comprado</ion-label>
                    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                </ion-item>

            </div>

            <ion-item-divider>
                <ion-label>Recargas</ion-label>
            </ion-item-divider>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_RECHARGE_HISTORY)">
                <ion-icon name="list-circle-outline" slot="start"></ion-icon>
                <ion-label>Historial de recargas</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_RECHARGE_PROCESSING_PENDING)">
                <ion-icon name="timer-outline" slot="start"></ion-icon>
                <ion-label>Recargas pendientes</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item-divider>
                <ion-label>Ayuda</ion-label>
            </ion-item-divider>

            <ion-item href="https://cubahorizontes.com/" target="_blank">
                <ion-icon name="globe-outline" slot="start"></ion-icon>
                <ion-label>
                    <ion-label>Sitio web</ion-label>
                </ion-label>
                <ion-icon name="link-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item
                    (click)="settingsService.appService.navigateToUrl(appRoutes.APP_CONTACT)">
                <ion-icon name="send-outline" slot="start"></ion-icon>
                <ion-label>
                    <ion-label>Contacto</ion-label>
                </ion-label>
                <ion-icon name="link-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item href="https://cubahorizontes.com/privacy" lines="none" target="_blank">
                <ion-icon name="document-text-outline" slot="start"></ion-icon>
                <ion-label>
                    <ion-label>Políticas de seguridad</ion-label>
                </ion-label>
                <ion-icon name="link-outline" slot="end"></ion-icon>
            </ion-item>

        </ion-item-group>
    </ion-list>

</ion-content>
