<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53439289325-011j8110n7sac1ajg1f5vu102acc0a8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53439289325-011j8110n7sac1ajg1f5vu102acc0a8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCkYHVqeSimWAIb9OqVaxphlDoTLM6WXEA</string>
	<key>GCM_SENDER_ID</key>
	<string>53439289325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubahorizontes.com</string>
	<key>PROJECT_ID</key>
	<string>cuba-horizontes-827f1</string>
	<key>STORAGE_BUCKET</key>
	<string>cuba-horizontes-827f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53439289325:ios:9cb50631a2b89cc8dfb9e4</string>
	<key>DATABASE_URL</key>
	<string>https://cuba-horizontes-827f1.firebaseio.com</string>
</dict>
</plist>
