<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">

            <ion-menu-button (click)="shoppingService.appService.navigateToUrl(appRoutes.APP_SETTINGS)"
                             *ngIf="visible(['home'])"
                             auto-hide="false"></ion-menu-button>
            <ion-button
                    *ngIf="visible(['finger-print', 'transfer', 'sales', 'profile', 'password', 'recharges', 'operation-show', 'cards', 'agents', 'agent-show', 'agent-edit'])"
                    (click)="shoppingService.appService.navigateToUrl(navigateToUrl())">
                <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
            </ion-button>

            <ion-button (click)="shoppingService.appService.navigateToUrl(appRoutes.APP_HOME_PAGE)"
                        *ngIf="visible(['shopping', 'settings', 'stripe'])">
                <ion-icon name="home-outline" slot="icon-only"></ion-icon>
            </ion-button>

        </ion-buttons>

        <ion-title *ngIf="title != 'Cubacel' && title != 'Nauta' && title != 'Long'">{{title}}</ion-title>
        <ion-title *ngIf="title == 'Cubacel'">
            <ion-img class="logo_service" src="../../assets/images/services/cubacel_logo.svg"></ion-img>
        </ion-title>
        <ion-title *ngIf="title == 'Nauta'">
            <ion-img class="logo_service" src="../../assets/images/services/nauta.png"></ion-img>
        </ion-title>
        <ion-title *ngIf="title == 'Long'">
            <ion-img class="logo_service" src="../../assets/images/services/long_distance.png"></ion-img>
        </ion-title>

        <ion-buttons slot="primary">

            <ion-button (click)="shoppingService.appService.navigateToUrl(appRoutes.APP_SHOPPING_CART)"
                        *ngIf="!visible(['shopping'])">
                <div *ngIf="!readingShooping">
                    <ion-icon *ngIf="totalShoppingItems > 0" name="cart" slot="icon-only"></ion-icon>
                    <ion-icon *ngIf="totalShoppingItems == 0" name="cart-outline" slot="icon-only"></ion-icon>
                    <sup *ngIf="totalShoppingItems > 0">{{totalShoppingItems < 10 ? totalShoppingItems : '9+' }}</sup>
                </div>
                <div *ngIf="readingShooping">
                    <ion-spinner name="lines-small"></ion-spinner>
                </div>
            </ion-button>
            <ion-button (click)="shoppingService.appService.logout()">
                <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
</ion-header>
