<app-toolbar active="recharges" title="Historial de recargas"></app-toolbar>

<ion-content scroll-y="true">
    <app-refresh routePage="{{operationListService.appService.appRoutes.APP_RECHARGE_HISTORY}}"></app-refresh>
    <app-empty empty="{{ dataSource.data.length == 0 }}"
               loading="{{ loadingData ? '' : loadingData }}"></app-empty>

    <div *ngIf="dataSource.data.length > 0 && !loadingData">
        <ion-searchbar (keyup)="applyFilter($event)" animated debounce="500"
                       placeholder="Filtrar recargas"></ion-searchbar>
        <table [dataSource]="dataSource" mat-table>

            <!-- Position Column -->
            <ng-container matColumnDef="data">
                <th *matHeaderCellDef mat-header-cell> Datos de la recarga</th>
                <td *matCellDef="let element" mat-cell>
                    Cliente: {{element.client.length > 15 ? element.client.slice(0, 15) : element.client}}<br/>
                    Cuenta: {{element.accountToRecharge.length > 10 ? element.accountToRecharge.slice(0, 10) : element.accountToRecharge}}
                    <br/>
                    Servicio: {{(element.service|uppercase) == 'CUBACEL_RECHARGE' ? 'Cubacel' : ((element.service|uppercase) == 'NAUTA_RECHARGE' ? 'Nauta' : 'Larga')}}
                    <br/>
                    Valor: ${{element.amount}}<br/>
                    Fecha: {{element.dateCreated|date: "dd-MM-yyyy hh:mm:ss a"}}
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell> Estado</th>
                <td *matCellDef="let element" mat-cell>
                    <ion-badge
                            color="{{element.status == 'COMPLETED' ? 'primary' : (element.status == 'FAILED' ? 'danger' : 'light')}}">
                        {{element.status == 'COMPLETED' ? 'Completado' : (element.status == 'FAILED' ? 'Fallido' : (element.status == 'PENDING' ? 'Pendiente' : 'Procesando')) }}
                    </ion-badge>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr (click)="operationListService.appService.navigateToUrl('/show/' + row.id)"
                *matRowDef="let row; columns: displayedColumns;"
                mat-row></tr>
        </table>

        <ion-infinite-scroll (ionInfinite)="loadPagination($event)" threshold="100px">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Espere...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar class="pl-3 pr-3">
        <ion-item class="ion-no-padding">
            <ion-label>Fecha inicio</ion-label>
            <ion-datetime [pickerOptions]="customPickerOptionsStart"
                          max="{{endDate|date: 'yyyy-MM-dd'}}" min="1990-04-16"
                          monthShortNames="En, Feb, Mar, Abr, May, Jun, Jul, Ag, Sep, Oct, Nov, Dic"
                          placeholder="Seleccione una fecha"
                          value="{{startDate|date: 'yyyy-MM-dd'}}"></ion-datetime>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label>Fecha fin</ion-label>
            <ion-datetime [pickerOptions]="customPickerOptionsEnd"
                          max="{{today|date: 'yyyy-MM-dd'}}"
                          min="{{startDate|date: 'yyyy-MM-dd'}}"
                          monthShortNames="En, Feb, Mar, Abr, May, Jun, Jul, Ag, Sep, Oct, Nov, Dic"
                          placeholder="Seleccione una fecha" value="{{endDate|date: 'yyyy-MM-dd'}}"></ion-datetime>
        </ion-item>
    </ion-toolbar>
</ion-footer>
