.form-transfer {
  font-size: 5rem;
  text-align: center;
  color: #007bff !important;
}

.form-control {
  border-radius: 0 !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

ion-input {
  --placeholder-color: #BDBDBD;
  --placeholder-opacity: 1;
  font-weight: 300
}

input, ion-input {
  padding: 10px 12px 10px 12px;
  border-radius: 2px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  letter-spacing: 1px
}

input:focus, ion-input:focus, {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

button:focus, ion-button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.btn {
  border: 1px solid lightgrey !important;
  border-radius: 2px !important;
  margin: 2px 0 0 !important;
  font-weight: 300 !important;
}

.error {
  color: darkred;
  font-size: 12px;
}

.error-input {
  border-color: darkred !important;
}
