<app-toolbar active="transfer" title="Transferir saldo"></app-toolbar>

<ion-content scroll-y="yes">
    <app-refresh></app-refresh>
    <ion-card class="shadow-lg" mode="md">
        <ion-card-content>
            <form [formGroup]="creditForm">
                <ion-input [class.error-input]="!formControl.creditSend.valid && (formControl.creditSend.dirty || formControl.creditSend.touched)" class="form-transfer" formControlName="creditSend" id="creditSend"
                           name="creditSend" style="border: 0!important;"
                           type="number"></ion-input>

                <ion-text class="ion-text-center">
                    <!-- Error messages -->
                    <p *ngIf="formControl.creditSend.errors?.required && (formControl.creditSend.dirty || formControl.creditSend.touched)"
                       class="error">
                        Crédito obligatorio
                    </p>
                    <p *ngIf="formControl.creditSend.errors?.min && (formControl.creditSend.dirty || formControl.creditSend.touched)"
                       class="error">
                        Crédito mínimo para enviar 10.00
                    </p>
                    <p *ngIf="formControl.creditSend.errors?.max && (formControl.creditSend.dirty || formControl.creditSend.touched)"
                       class="error">
                        Crédito máximo para enviar {{this.appService.secvars.user.balance}}
                    </p>
                </ion-text>
            </form>

        </ion-card-content>
    </ion-card>
    <ion-card class="shadow-lg" mode="md">
        <ion-card-content>
            <form method="post">
                <div class="form-group">
                    <div class="input-group">
                        <ion-input [(ngModel)]="searchValue" aria-describedby="searchHelp"
                                   id="searchValue" name="searchValue"
                                   placeholder="Buscar agente"></ion-input>
                        <div class="input-group-append">
                            <button (keyup.enter)="searchAgents()" class="btn btn-primary" (click)="searchAgents()">
                                <ion-icon name="search-outline"></ion-icon>
                            </button>
                        </div>
                    </div>
                    <small class="form-text text-muted" id="searchHelp">Puede buscar por nombre, correo o
                        teléfono.</small>
                </div>
            </form>
            <ion-list *ngIf="agentsFound.length > 0">
                <ion-list-header class="ion-no-padding">
                    Agentes encontrados
                </ion-list-header>
                <ion-item *ngFor="let agent of agentsFound" class="ion-no-padding">
                    <ion-avatar slot="start">
                        <ion-img src="../../assets/images/profile/avatar.svg"></ion-img>
                    </ion-avatar>
                    <ion-label>
                        <h2>{{agent.name}}</h2>
                        <h3>{{agent.phoneCodeNumber}}{{agent.phone}}</h3>
                        <p>{{agent.email}}</p>
                    </ion-label>
                    <ion-button (click)="transferCredit(agent.id)" slot="end">
                        Enviar
                    </ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
