.loading {
  margin: 60% 50% !important;
}

.badge {
  padding: 10px;
}

.logo_service_cubacel {
  margin-bottom: 1rem;
  width: 65%;
}

.logo_service_nauta {
  margin-bottom: 1rem;
  width: 50%;
}

.logo_service_long {
  margin-bottom: 1rem;
  width: 50%;
}

.z-index-0 {
  z-index: 0 !important;
}
