ion-icon {
  font-size: 20px;
}

.form-control {
  height: calc(1.5em + 0.75rem + 20px)!important;
}

.card-footer{
  background-color: transparent!important;
}

.card {
  border: none!important;
}

.chat-room.small-chat {
  position: fixed;
  bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.chat-room.small-chat.slim {
  height: 3rem
}

.chat-room.small-chat.slim .icons .feature {
  display: none
}

.chat-room.small-chat.slim .my-custom-scrollbar {
  display: none
}

.chat-room.small-chat.slim .card-footer {
  display: none
}

.chat-room.small-chat .profile-photo ion-img.avatar {
  width: 2rem;
  height: 2rem
}

.chat-room.small-chat .profile-photo .state {
  position: relative;
  top: -.5rem;
  left: auto;
  z-index: 2;
  display: block;
  width: .65rem;
  height: .65rem;
  margin-left: 1.35rem;
  background-color: #007e33;
  border: .1rem solid #fff;
  border-radius: 50%
}

.chat-room.small-chat .profile-photo.message-photo {
  margin-top: 2.7rem
}

.chat-room.small-chat .heading {
  height: 2.1rem
}

.chat-room.small-chat .heading .data {
  line-height: 1.5
}

.chat-room.small-chat .heading .data .name {
  font-size: .8rem
}

.chat-room.small-chat .heading .data .activity {
  font-size: .75rem
}

.chat-room.small-chat .icons {
  padding-top: .45rem
}

.chat-room.small-chat .my-custom-scrollbar {
  position: relative;
  height: 30rem;
  overflow: auto
}

.chat-room.small-chat .my-custom-scrollbar > .card-body {
  height: 18rem
}

.chat-room.small-chat .my-custom-scrollbar > .card-body .chat-message .media ion-img {
  width: 3rem
}

.chat-room.small-chat .my-custom-scrollbar > .card-body .chat-message .media .media-body p {
  font-size: .7rem
}

.chat-room.small-chat .my-custom-scrollbar > .card-body .chat-message .message-text {
  margin-left: 2.47rem
}

.chat-room.small-chat .card-footer .form-control {
  padding: .375rem 0 .43rem 0;
  font-size: .9rem;
  border: none
}

.chat-room.small-chat .card-footer .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}
