.img-background {
  padding: 0 5%;
}

ion-item {
  --ion-safe-area-right: 0;
}

.form-control {
  border-radius: 0 !important;
}

.form-security {
  padding: 1rem;
  margin-top: 5rem;
}

.card2 {
  margin: 0 40px
}

.border-line {
  border-right: 1px solid #EEEEEE
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

ion-input {
  padding: 0 12px 0 5px !important;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px
}

ion-input:focus, {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #0d47a1;
  outline-width: 0
}

ion-button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.required:after {
  content: "*";
  color: darkred;
}

.underline {
  text-decoration: underline;
  color: #0d47a1;
}

.underline-small {
  font-size: 15px;
}

.error {
  color: darkred;
  font-size: 12px;
}

.error-input {
  border-color: darkred !important;
}

.card-size {
  padding: 5% 0;
}

ion-label {
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.z-index-0 {
  z-index: 0 !important;
}
