<app-toolbar active="password" title="Cambiar contraseña"></app-toolbar>

<ion-content scroll-y="true">
    <app-refresh routePage="{{appService.appRoutes.APP_EDIT_PASSWORD}}"></app-refresh>
    <ion-card class="shadow-lg">
        <ion-card-content>
            <ion-item class="ion-no-padding z-index-0" lines="none">
                <ion-avatar slot="start">
                    <ion-img src="../../assets/images/services/info.svg"></ion-img>
                </ion-avatar>
                <ion-label>
                    <h2>Info</h2>
                    <h3>Contraseña segura</h3>
                    <p>Debe contener al menos una <br/> mayúscula, un número <br/> de 8 caracteres mínimo.</p>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card class="shadow-lg">
        <ion-card-content>
            <form [formGroup]="passwordForm">

                <div class="form-group">
                    <ion-label class="required">
                        Contraseña:
                    </ion-label>
                    <ion-input [class.error-input]="(!formControl.password.valid && (formControl.password.dirty || formControl.password.touched)) || appService.secvars.errorPath == 'password'" autocomplete="off" formControlName="password" maxlength="20"
                               placeholder="Entre su contraseña actual"
                               type="password"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.password.errors?.required && (formControl.password.dirty || formControl.password.touched)"
                          class="error">
                            Contraseña actual obligatorio.
                        </span>
                    <span *ngIf="appService.secvars.errorMessage && appService.secvars.errorPath == 'password'"
                          class="error">
                            {{appService.secvars.errorMessage}}
                        </span>
                </div>

                <div class="form-group">
                    <ion-label class="required">
                        Nueva contraseña:
                    </ion-label>
                    <ion-input [class.error-input]="!formControl.newPassword.valid && (formControl.newPassword.dirty || formControl.newPassword.touched) || appService.secvars.errorPath == 'new-password'" aria-describedby="newPasswordHelp" autocomplete="off" formControlName="newPassword"
                               maxlength="20" placeholder="Entre su nueva contraseña"
                               type="password"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.newPassword.errors?.required && (formControl.newPassword.dirty || formControl.newPassword.touched)"
                          class="error">
                            Nueva contraseña obligatorio.
                        </span>
                    <span *ngIf="formControl.newPassword.errors?.minlength && (formControl.newPassword.dirty || formControl.newPassword.touched)"
                          class="error">
                            Contrseña de 8 caracteres mínimo.
                        </span>
                    <span *ngIf="appService.secvars.errorMessage && appService.secvars.errorPath == 'new-password'"
                          class="error">
                            {{appService.secvars.errorMessage}}
                        </span>
                </div>

                <div class="form-group">
                    <ion-label class="required">
                        Confirmar contraseña:
                    </ion-label>
                    <ion-input (keyup.enter)="onSubmit()" [class.error-input]="(formErrors?.notEquals && (formControl.confirmPassword.dirty || formControl.confirmPassword.touched))" autocomplete="off" formControlName="confirmPassword"
                               maxlength="20" placeholder="Confirme su contraseña"
                               type="password"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formErrors?.notEquals && (formControl.confirmPassword.dirty || formControl.confirmPassword.touched)"
                          class="error">
                            Las contraseñas deben coincidir.
                        </span>
                </div>

                <div class="form-group">
                    <ion-button (click)="onSubmit()" color="primary" expand="block" type="submit">
                        Cambiar contraseña
                    </ion-button>
                </div>

            </form>
        </ion-card-content>
    </ion-card>

</ion-content>
