<app-toolbar active="agents" title="Crear usuario"></app-toolbar>

<ion-content scroll-y="true">
    <app-refresh routePage="{{appRoutes.APP_AGENTS_CREATE}}"></app-refresh>
    <ion-card class="shadow-lg" mode="md">
        <ion-card-content>
            <form [formGroup]="agentForm">

                <div class="form-group">
                    <ion-label class="required">Nombre: </ion-label>
                    <ion-input [class.error-input]="(!formControl.name.valid && (formControl.name.dirty || formControl.name.touched)) || agentCreateService.errorPath == 'fullName'" autocomplete="off" formControlName="name"
                               maxlength="50" placeholder="Entre su nombre" required
                               type="text"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.name.errors?.required && (formControl.name.dirty || formControl.name.touched)"
                          class="error">
                            Nombre obligatorio.
                        </span>
                    <span *ngIf="formControl.name.errors?.minlength && (formControl.name.dirty || formControl.name.touched)"
                          class="error">
                            Nombre de 2 caracteres mínimo.
                        </span>
                    <span *ngIf="agentCreateService.errorMessage && agentCreateService.errorPath == 'fullName'"
                          class="error">
                            {{agentCreateService.errorMessage}}
                        </span>
                </div>
                <div class="form-group">
                    <ion-label class="required">Correo: </ion-label>
                    <ion-input [class.error-input]="(!formControl.email.valid && (formControl.email.dirty || formControl.email.touched)) || agentCreateService.errorPath == 'email'" aria-describedby="emailHelp" autocomplete="off" formControlName="email"
                               maxlength="50" placeholder="Ingrese dirección de correo" required
                               type="email"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.email.errors?.required && (formControl.email.dirty || formControl.email.touched)"
                          class="error">
                            Correo obligatorio.
                        </span>
                    <span *ngIf="formControl.email.errors?.email && (formControl.email.dirty || formControl.email.touched)"
                          class="error">
                            Correo no válido.
                        </span>
                    <span *ngIf="agentCreateService.errorMessage && agentCreateService.errorPath == 'email'"
                          class="error">
                            {{agentCreateService.errorMessage}}
                        </span>
                </div>
                <div class="form-group">
                    <ion-label class="required">Teléfono: </ion-label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button (click)="agentCreateService.appService.choicePhoneCode()" class="btn btn-outline-secondary"
                                    type="button">
                                {{agentCreateService.appService.ccodePhoneValue}}</button>
                        </div>
                        <ion-input [class.error-input]="(!formControl.phone.valid && (formControl.phone.dirty || formControl.phone.touched)) || agentCreateService.errorPath == 'phone'" autocomplete="off" formControlName="phone"
                                   maxlength="13" placeholder="Ingrese número de celular" required
                                   type="tel"></ion-input>
                    </div>
                    <!-- Error messages -->
                    <span *ngIf="formControl.phone.errors?.required && (formControl.phone.dirty || formControl.phone.touched)"
                          class="error">
                            Teléfono obligatorio.
                        </span>
                    <span *ngIf="formControl.phone.errors?.pattern && (formControl.phone.dirty || formControl.phone.touched)"
                          class="error">
                            Sólo números.
                        </span>
                    <span *ngIf="agentCreateService.errorMessage && agentCreateService.errorPath == 'phone'"
                          class="error">
                            {{agentCreateService.errorMessage}}
                        </span>
                </div>
                <div class="form-group">
                    <ion-label class="required">Balance: </ion-label>
                    <ion-input [class.error-input]="(!formControl.balance.valid && (formControl.balance.dirty || formControl.balance.touched)) || agentCreateService.errorPath == 'balance'" aria-describedby="balanceHelp" autocomplete="off" formControlName="balance"
                               placeholder="Ingrese el balance" required
                               type="text"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.balance.errors?.required && (formControl.balance.dirty || formControl.balance.touched)"
                          class="error">
                            Balance obligatorio.
                        </span>
                    <span *ngIf="formControl.balance.errors?.pattern && (formControl.balance.dirty || formControl.balance.touched)"
                          class="error">
                            Sólo números.
                        </span>
                    <span *ngIf="agentCreateService.errorMessage && agentCreateService.errorPath == 'balance'"
                          class="error">
                            {{agentCreateService.errorMessage}}
                        </span>
                </div>
                <div class="form-group">
                    <ion-label class="required">Costo cubacel: </ion-label>
                    <ion-input [class.error-input]="(!formControl.salePriceCubacel.valid && (formControl.salePriceCubacel.dirty || formControl.salePriceCubacel.touched)) || agentCreateService.errorPath == 'salePriceCubacel'" aria-describedby="balanceHelp" autocomplete="off"
                               formControlName="salePriceCubacel"
                               placeholder="Ingrese costo cubacel" required
                               type="text"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.salePriceCubacel.errors?.required && (formControl.salePriceCubacel.dirty || formControl.salePriceCubacel.touched)"
                          class="error">
                            Precio de venta obligatorio.
                        </span>
                    <span *ngIf="formControl.salePriceCubacel.errors?.pattern && (formControl.salePriceCubacel.dirty || formControl.salePriceCubacel.touched)"
                          class="error">
                            Sólo números.
                        </span>
                    <span *ngIf="agentCreateService.errorMessage && agentCreateService.errorPath == 'salePriceCubacel'"
                          class="error">
                            {{agentCreateService.errorMessage}}
                        </span>
                </div>
                <div class="form-group">
                    <ion-label class="required">Costo nauta: </ion-label>
                    <ion-input [class.error-input]="(!formControl.salePriceNauta.valid && (formControl.salePriceNauta.dirty || formControl.salePriceNauta.touched)) || agentCreateService.errorPath == 'salePriceNauta'" aria-describedby="balanceHelp" autocomplete="off"
                               formControlName="salePriceNauta"
                               placeholder="Ingrese costo nauta" required
                               type="text"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.salePriceNauta.errors?.required && (formControl.salePriceNauta.dirty || formControl.salePriceNauta.touched)"
                          class="error">
                            Precio de venta obligatorio.
                        </span>
                    <span *ngIf="formControl.salePriceNauta.errors?.pattern && (formControl.salePriceNauta.dirty || formControl.salePriceNauta.touched)"
                          class="error">
                            Sólo números.
                        </span>
                    <span *ngIf="agentCreateService.errorMessage && agentCreateService.errorPath == 'salePriceNauta'"
                          class="error">
                            {{agentCreateService.errorMessage}}
                        </span>
                </div>
                <div class="form-group">
                    <ion-label class="required">Contraseña: </ion-label>
                    <ion-input (keyup.enter)="onSubmit()" [class.error-input]="!formControl.password.valid && (formControl.password.dirty || formControl.password.touched)" autocomplete="off" formControlName="password"
                               maxlength="20" placeholder="Entre la contraseña"
                               type="password"></ion-input>
                    <!-- Error messages -->
                    <span *ngIf="formControl.password.errors?.required && (formControl.password.dirty || formControl.password.touched)"
                          class="error">
                            Contraseña obligatoria.
                        </span>
                    <span *ngIf="formControl.password.errors?.minlength && (formControl.password.dirty || formControl.password.touched)"
                          class="error">
                            Contrseña de 8 caracteres mínimo.
                        </span>
                </div>
                <div class="form-group">
                    <ion-button color="primary" expand="block" (click)="onSubmit()">
                        Crear usuario
                    </ion-button>
                </div>

            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
