<ion-tabs>

    <ion-tab-bar class="custom-tab-bar" slot="bottom">

        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="cubacel">
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-label>Cubacel</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="!appService.isPostSale()">
            <button (click)="appService.navigateToUrl(appService.appRoutes.APP_STRIPE)" aria-label="" color="primary"
                    mat-fab>
                <ion-icon name="wallet-outline"></ion-icon>
            </button>
        </ion-tab-button>

        <ion-tab-button tab="nauta">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-label>Nauta</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="!appService.isPostSale()" tab="long-distance">
            <ion-icon name="call-outline"></ion-icon>
            <ion-label>Llamadas</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>


