<ion-content scroll-y="true">
    <div class="p-4">
        <ion-card class="shadow-lg py-4" mode="md">
            <ion-img class="logoweb" src="../../assets/images/security/logoweb.png"></ion-img>
            <ion-card-content>
                <form [formGroup]="recoveryForm">

                    <ion-text class="ion-text-center">
                        <h3>Le enviaremos un mensaje vía sms o correo</h3><br/>
                    </ion-text>

                    <div class="form-group">
                        <ion-label class="required">Correo:</ion-label>
                        <ion-input (keyup.enter)="onSubmit()"
                                   [class.error-input]="(!formControl.email.valid && (formControl.email.dirty || formControl.email.touched)) || recoveryService.errorPath == 'email'"
                                   autocomplete="off"
                                   formControlName="email" maxlength="50" placeholder="Entre su dirección de correo"
                                   required
                                   type="email"></ion-input>
                        <!-- Error messages -->
                        <span *ngIf="formControl.email.errors?.required && (formControl.email.dirty || formControl.email.touched)"
                              class="error">
                            Correo obligatorio.
                        </span>
                        <span *ngIf="formControl.email.errors?.email && (formControl.email.dirty || formControl.email.touched)"
                              class="error">
                            Correo no válido.
                        </span>
                        <span *ngIf="formControl.email.errors?.minlength && (formControl.email.dirty || formControl.email.touched)"
                              class="error">
                            Correo de 5 caracteres máximo.
                        </span>
                        <span *ngIf="recoveryService.errorMessage && recoveryService.errorPath == 'email'"
                              class="error">
                            {{recoveryService.errorMessage}}
                        </span>
                    </div>

                    <div class="form-group mt-4 mb-4">
                        <ion-button color="primary" expand="block" (click)="onSubmit()">
                            Recuperar contraseña
                        </ion-button>
                    </div>

                    <ion-text class="ion-text-left">
                        <p (click)="recoveryService.appService.navigateToUrl(recoveryService.appService.appRoutes.APP_LOGIN)"
                           class="underline mt-2">
                            Volver
                        </p>
                    </ion-text>

                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
