.required:after {
  content: "*";
  color: darkred;
}

.call-fab {
  width: 45px;
  height: 45px;
}

.loading {
  margin: 60% 50% !important;
}

.form-control {
  border-radius: 0 !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

ion-input, ion-select {
  --placeholder-color: #BDBDBD;
  --placeholder-opacity: 1;
  font-weight: 300
}

input {
  height: 2.7rem;
  background-color: #fff!important;
}

ion-select {
  padding-right: 12px!important;
  padding-left: 12px!important;
  border: 1px solid lightgrey!important;
  border-radius: 0!important;
  margin-top: 2px!important;
  width: 100%!important;
  box-sizing: border-box!important;
  color: #2C3E50!important;
  font-size: 14px!important;
  letter-spacing: 1px!important
}

ion-input, input {
  padding: 0 12px 0 5px !important;
  border: 1px solid lightgrey!important;
  border-radius: 0!important;
  margin-top: 2px!important;
  width: 100%!important;
  box-sizing: border-box!important;
  color: #2C3E50!important;
  font-size: 14px!important;
  letter-spacing: 1px!important;
}

input:focus, ion-input:focus, input[type='text']:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid lightgrey!important;
  outline-width: 0!important;
  outline: none!important
}

button:focus, ion-button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0!important;
  outline: none!important;
}

.btn {
  border: 1px solid lightgrey !important;
  border-radius: 2px !important;
  margin: 2px 0 0 !important;
  font-weight: 300 !important;
}

.logo_service {
  width: 65%;
}

.error {
  color: darkred;
  font-size: 12px;
}

.error-input {
  border-color: darkred !important;
}

.underline {
  text-decoration: underline;
  color: #0d47a1;
}

.underline-small {
  font-size: 15px;
}

ion-label {
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.custom-radio-group {
  --min-height: 38px !important;
  height: 38px !important;
  font-size: 14px;
}

.z-index-0 {
  z-index: 0 !important;
}
