<div *ngIf="userToShow">
    <ion-card class="shadow-lg" mode="md">
        <ion-card-content class="py-0">
            <ion-item class="ion-no-padding z-index-0" lines="none">
                <ion-label>
                    <h2>({{appService.user.phoneCodeNumber}}){{appService.user.phone}}</h2>
                </ion-label>
                <h1 class="text-primary" slot="end">${{appService.user.balance}}</h1>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card class="shadow-lg" mode="md">
        <ion-card-content>
            <div class="row text-center">
                <div class="col-4 border-right border-bottom py-3">
                    <div class="h4 mb-0 text-success">{{userToShow.data.opAccepted}}</div>
                    <span class="small text-gray">Completadas</span>
                </div>
                <div class="col-4 border-right border-bottom py-3">
                    <div class="h4 mb-0 text-warning">{{userToShow.data.opPending}}</div>
                    <span class="small text-gray">Pendientes</span>
                </div>
                <div class="col-4 border-bottom py-3">
                    <div class="h4 mb-0 text-danger">{{userToShow.data.opFaileds}}</div>
                    <span class="small text-gray">Fallidas</span>
                </div>
            </div>
            <div (click)="getProfile()" class="mx-auto my-3">
                <ion-img class="icon-logo" src="../../assets/images/security/icon_logo.png"></ion-img>
            </div>
            <div *ngIf="userToShow && appService.isPostSale()" class="row text-center">
                <div class="col-6 border-right border-top py-3">
                    <div class="h4 mb-0 text-success">${{totalSellingCost}}</div>
                    <span class="small text-gray">Total de ventas</span>
                </div>
                <div class="col-6 border-top py-3">
                    <div class="h4 mb-0 text-primary">${{totalSalePrice}}</div>
                    <span class="small text-gray">Débito</span>
                </div>
                <div class="col-12 border-top py-4">
                    <div class="h4 mb-0 text-info">${{totalEarnings}}</div>
                    <span class="small text-gray">Ganancias</span>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-toolbar class="pl-3 pr-3" *ngIf="!appService.isPostSale()">
        <ion-item class="ion-no-padding">
            <ion-label>Fecha inicio</ion-label>
            <ion-datetime [pickerOptions]="customPickerOptionsStart"
                          max="{{endDate|date: 'yyyy-MM-dd'}}" min="1990-04-16"
                          monthShortNames="En, Feb, Mar, Abr, May, Jun, Jul, Ag, Sep, Oct, Nov, Dic"
                          placeholder="Seleccione una fecha"
                          value="{{startDate|date: 'yyyy-MM-dd'}}"></ion-datetime>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label>Fecha fin</ion-label>
            <ion-datetime [pickerOptions]="customPickerOptionsEnd"
                          max="{{today|date: 'yyyy-MM-dd'}}"
                          min="{{startDate|date: 'yyyy-MM-dd'}}"
                          monthShortNames="En, Feb, Mar, Abr, May, Jun, Jul, Ag, Sep, Oct, Nov, Dic"
                          placeholder="Seleccione una fecha" value="{{endDate|date: 'yyyy-MM-dd'}}"></ion-datetime>
        </ion-item>
    </ion-toolbar>
</div>

<ion-spinner *ngIf="!userToShow" class="loading" color="primary" name="lines"></ion-spinner>
