.loading {
  margin: 60% 50% !important;
}

.cogs {
  width: 15%;
  float: right;
  position: absolute;
}

.icon-logo {
  width: 50%;
  margin: auto;
}

.icon-update {
  position: absolute;
  font-size: 2rem;
}

.z-index-0 {
  z-index: 0 !important;
}



