<app-toolbar active="agents" title="Listado de agentes"></app-toolbar>

<ion-content scroll-y="true">
    <app-refresh routePage="{{agentListService.appService.appRoutes.APP_AGENTS_LIST}}"></app-refresh>
    <ion-toolbar>
        <ion-searchbar animated debounce="500" placeholder="Filtrar mis usuarios"
                       showCancelButton="never"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
        <ion-item *ngFor="let agent of agents" class="ion-no-padding" color="{{agent.enabled ? '' : 'light'}}">
            <h3 class="text-{{ agent.balance > 0 ? 'primary' : 'danger' }}" slot="end">${{agent.balance|number}}</h3>
            <ion-label class="mx-3">
                <h2>{{agent.name}}</h2>
                <h3>({{agent.phoneCodeNumber}}){{agent.phone}}</h3>
                <p class="mb-2">{{agent.email}}</p>
                <ion-badge (click)="agentListService.appService.navigateToUrl('/agent/edit/' + agent.id)" color="light"
                           size="small">
                    Editar
                </ion-badge>
                <ion-badge (click)="agentListService.appService.navigateToUrl('/agent/show/' + agent.id)" class="ml-1"
                           color="light"
                           size="small">
                    Mostrar
                </ion-badge>
                <ion-badge (click)="agentListService.deleteAgent(agent.id)" class="ml-1" color="light"
                           size="small">
                    {{agent.enabled ? 'Desactivar' : 'Activar'}}
                </ion-badge>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
