<app-toolbar title="Listado de agentes" active="agents"></app-toolbar>

<ion-content scroll-y="true">
    <app-refresh routePage="{{appService.appRoutes.APP_AGENTS_LIST}}"></app-refresh>
    <ion-toolbar>
        <ion-searchbar animated debounce="500" showCancelButton="never"
                       placeholder="Filtrar mis usuarios"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
        <ion-item class="ion-no-padding" *ngFor="let agent of agents" color="{{agent.enabled ? '' : 'light'}}">
            <h3 slot="end" class="text-{{ agent.balance > 0 ? 'primary' : 'danger' }}">${{agent.balance|number}}</h3>
            <ion-label class="mx-3">
                <h2>{{agent.name}}</h2>
                <h3>({{agent.phoneCodeNumber}}){{agent.phone}}</h3>
                <p class="mb-2">{{agent.email}}</p>
                <ion-badge size="small" color="light"
                           (click)="appService.navigateToUrl('/agent/edit/' + agent.id)">
                    Editar
                </ion-badge>
                <ion-badge size="small" color="light" class="ml-1"
                           (click)="appService.navigateToUrl('/agent/show/' + agent.id)">
                    Mostrar
                </ion-badge>
                <ion-badge size="small" color="light" class="ml-1"
                           (click)="appService.deleteAgent(agent.id)">
                    {{agent.enabled ? 'Desactivar' : 'Activar'}}
                </ion-badge>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
