<app-toolbar title="Historial de tranferencias" active="transfer"></app-toolbar>

<ion-content>
    <app-refresh routePage="{{appService.appRoutes.APP_RECHARGE_HISTORY}}"></app-refresh>
    <app-empty loading="{{ loadingData ? '' : loadingData }}"
               empty="{{ dataSource.data.length == 0 }}"></app-empty>
    <div *ngIf="dataSource.data.length > 0 && !loadingData">
        <ion-searchbar placeholder="Filtrar transferencias" animated debounce="500"
                       (keyup)="applyFilter($event)"></ion-searchbar>
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="from">
                <th mat-header-cell *matHeaderCellDef> Envía</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.adminFromName">
                        {{element.adminToName.length < 15 ? element.adminToName : element.adminToName.slice(0, 15)}}
                        <br/>
                        ({{element.adminFromCodeNumber}}){{element.adminFromPhone}}<br/>
                    </div>
                    <div *ngIf="element.agentFromName">
                        {{element.agentFromName.length < 15 ? element.agentFromName : element.agentFromName.slice(0, 15)}}
                        <br/>
                        {{element.agentFromCodeNumber}}{{element.agentFromPhone}}<br/>
                    </div>
                    ${{element.originCreditFrom|number}} - ${{element.credit|number}}<br/>
                    ${{element.newCreditFrom|number}}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="to">
                <th mat-header-cell *matHeaderCellDef> Recibe</th>
                <td mat-cell *matCellDef="let element">
                    {{element.agentToName.length < 15 ? element.agentToName : element.agentToName.slice(0, 15)}}<br/>
                    ({{element.agentToCodeNumber}}){{element.agentToPhone}}<br/>
                    ${{element.originCreditTo|number}} + ${{element.credit|number}}<br/>
                    ${{element.newCreditTo|number}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPagination($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Espere...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

</ion-content>
