<app-toolbar active="transfer" title="Historial de tranferencias"></app-toolbar>

<ion-content>
    <app-refresh routePage="{{appService.appRoutes.APP_RECHARGE_HISTORY}}"></app-refresh>
    <app-empty empty="{{ dataSource.data.length == 0 }}"
               loading="{{ loadingData ? '' : loadingData }}"></app-empty>
    <div *ngIf="dataSource.data.length > 0 && !loadingData">
        <ion-searchbar (keyup)="applyFilter($event)" animated debounce="500"
                       placeholder="Filtrar transferencias"></ion-searchbar>
        <table [dataSource]="dataSource" mat-table>

            <!-- Position Column -->
            <ng-container matColumnDef="from">
                <th *matHeaderCellDef mat-header-cell> Envía</th>
                <td *matCellDef="let element" mat-cell>
                    <div *ngIf="element.adminFromName">
                        {{element.adminToName.length < 15 ? element.adminToName : element.adminToName.slice(0, 15)}}
                        <br/>
                        ({{element.adminFromCodeNumber}}){{element.adminFromPhone}}<br/>
                    </div>
                    <div *ngIf="element.agentFromName">
                        {{element.agentFromName.length < 15 ? element.agentFromName : element.agentFromName.slice(0, 15)}}
                        <br/>
                        {{element.agentFromCodeNumber}}{{element.agentFromPhone}}<br/>
                    </div>
                    ${{element.originCreditFrom|number}} - ${{element.credit|number}}<br/>
                    ${{element.newCreditFrom|number}}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="to">
                <th *matHeaderCellDef mat-header-cell> Recibe</th>
                <td *matCellDef="let element" mat-cell>
                    {{element.agentToName.length < 15 ? element.agentToName : element.agentToName.slice(0, 15)}}<br/>
                    ({{element.agentToCodeNumber}}){{element.agentToPhone}}<br/>
                    ${{element.originCreditTo|number}} + ${{element.credit|number}}<br/>
                    ${{element.newCreditTo|number}}
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>

        <ion-infinite-scroll (ionInfinite)="loadPagination($event)" threshold="100px">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Espere...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

</ion-content>
