<form (ngSubmit)="onSubmit()" *ngIf="appService.opvars.cubacelRecharges" [formGroup]="cubacelForm">

    <ion-card class="shadow-lg">
        <ion-card-content>
            <ion-item class="ion-no-padding z-index-0" lines="none">
                <ion-img class="logo_service" src="../../assets/images/services/cubacel_logo.svg"></ion-img>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card class="shadow-lg">
        <ion-card-content>
            <div class="form-group">
                <ion-label class="">Nombre:</ion-label>
                <input [class.error-input]="!formControl.client.valid && (formControl.client.dirty || formControl.client.touched)" [matAutocomplete]="autoName" aria-describedby="nameHelp" aria-label=""
                       autocomplete="off" formControlName="client" id="client"
                       matInput maxlength="50" minlength="2" placeholder="Nombre del cliente"
                       type="text">
                <mat-autocomplete #autoName="matAutocomplete"
                                  (optionSelected)='optionSelected($event.option.value)'>
                    <mat-option *ngFor="let conctactList of filteredNames | async" [value]="conctactList.name">
                        {{conctactList.name}}
                        <b>{{conctactList.phone}}</b>
                    </mat-option>
                </mat-autocomplete>
                <!-- Error messages -->
                <span *ngIf="formControl.client.errors?.minlength && (formControl.client.dirty || formControl.client.touched)"
                      class="error">
                        Nombre del cliente de 2 caracteres mínimo.
                    </span>
            </div>
            <div class="form-group">
                <ion-label class="required">Teléfono: </ion-label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button">+53</button>
                    </div>
                    <ion-input [(ngModel)]="phoneByContactName" [class.error-input]="!formControl.account.valid && (formControl.account.dirty || formControl.account.touched)" aria-describedby="telHelp"
                               autocomplete="off" formControlName="account" id="account"
                               maxlength="8" placeholder="Número del cliente"
                               type="tel"></ion-input>
                </div>
                <!-- Error messages -->
                <span *ngIf="formControl.account.errors?.required && (formControl.account.dirty || formControl.account.touched)"
                      class="error">
                        Teléfono del cliente es obligatorio.
                    </span>
                <span *ngIf="formControl.account.errors?.pattern && (formControl.account.dirty || formControl.account.touched)"
                      class="error">
                       Número cubacel no válido
                        </span>
            </div>
            <div class="form-group">
                <ion-label class="required">Recargas disponibles: </ion-label>
                <ion-select (keyup.enter)="onSubmit()" aria-describedby="priceHelp" cancelText="Cancelar"
                            formControlName="recharge" okText="Seleccionar"
                            placeholder="Seleccione un valor">
                    <ion-select-option *ngFor="let item of appService.opvars.cubacelRecharges;"
                                       [value]="item.id">{{item.slug}}</ion-select-option>
                </ion-select>
            </div>
            <div class="form-group">
                <ion-radio-group value="1">
                    <ion-item (click)="setAction(1)" class="ion-no-padding custom-radio-group" lines="none">
                        <ion-radio class="mr-2" color="primary" value="1"></ion-radio>
                        <ion-label>Recargar ahora</ion-label>
                    </ion-item>
                    <ion-item (click)="setAction(3)" *ngIf="appService.opvars.preSalesActive"
                              class="ion-no-padding custom-radio-group" lines="none">
                        <ion-radio class="mr-2" color="success" value="3"></ion-radio>
                        <ion-label>Enviar en preventa</ion-label>
                    </ion-item>
                    <ion-item (click)="setAction(2)" class="ion-no-padding custom-radio-group" lines="none">
                        <ion-radio class="mr-2" color="tertiary" value="2"></ion-radio>
                        <ion-label>Enviar recarga al carrito</ion-label>
                    </ion-item>
                </ion-radio-group>
            </div>
            <div class="form-group mb-0">
                <ion-button color="primary" expand="block" type="submit">
                    {{buttonSubmitText}}
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>

</form>

<ion-spinner *ngIf="!appService.opvars.cubacelRecharges" class="loading" color="primary" name="lines"></ion-spinner>
