<app-toolbar active="shopping" title="Mi carrito"></app-toolbar>

<ion-content [class.content]="tableDataSource.data.length == 0 && !loadingData">
    <app-refresh routePage="{{appRoutes.APP_SHOPPING_CART}}"></app-refresh>
    <app-empty empty="{{ tableDataSource.data.length == 0 }}"
               loading="{{ loadingData ? '' : loadingData }}"></app-empty>

    <div *ngIf="tableDataSource.data.length > 0 && !loadingData">
        <ion-header class="sticky ion-no-border mt-1">
            <ion-toolbar><!-- Searchbar with cancel button shown on focus -->
                <ion-searchbar (keyup)="applyFilter($event)" animated debounce="500"
                               placeholder="Filtrar"></ion-searchbar>
            </ion-toolbar>
        </ion-header>
        <div *ngIf="!loadingData" class="mat-elevation-z8 shadow-lg">
            <table [dataSource]="tableDataSource" mat-table matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="account">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Cuenta</th>
                    <td *matCellDef="let element" mat-cell>
                        {{element.client}}<br/>
                        {{element.account.length > 10 ? element.account.slice(0, 10) : element.account}}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="service">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Servicio</th>
                    <td *matCellDef="let element" mat-cell>
                        {{(element.service) == 'cubacel' ? 'Cubacel' : ((element.service) == 'nauta' ? 'Nauta' : 'Larga')}}
                        <br/>
                        {{element.recharge.slug}}
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="errorMessage">
                    <th *matHeaderCellDef mat-header-cell></th>
                    <td *matCellDef="let element" mat-cell>
                        <ion-icon (click)="showErrorMessage(element)" *ngIf="element.errorMessage" class="mr-3"
                                name="alert-circle-outline"></ion-icon>
                        <ion-icon name="trash-outline" color="danger"
                                  (click)="shoppingService.removeOneShopping(element)"></ion-icon>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="tableDataSource.data.length > 0 && !loadingData">
    <ion-toolbar class="pl-3 pr-3">
        <ion-button (click)="shoppingService.sendAllShopping()" expand="block">
            Pagar recargas ${{totalAmount}}
        </ion-button>
    </ion-toolbar>
</ion-footer>


