.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.example-container {
  height: 500px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 0;
}

.content {
  --background: url('../../../assets/images/empty.gif') no-repeat center/contain fixed;
}

.z-index-0 {
  z-index: 0 !important;
}
