<app-toolbar active="cards" title="Transacciones y tarjetas utilizadas"></app-toolbar>

<ion-content scroll-y="true">
    <app-refresh routePage="{{creditCardService.appService.appRoutes.APP_CREDIT_CARD_DETAIL}}"></app-refresh>
    <app-empty empty="{{ chargesTableDataSource.data.length == 0 }}"
               loading="{{ (loadingMethods || loadingCharges) ? '' : false }}"></app-empty>

    <div *ngIf="!loadingMethods && !loadingCharges && chargesTableDataSource.data.length > 0">
        <mat-tab-group dynamicHeight selectedIndex="0">
            <mat-tab label="Últimas transacciones">
                <div class="mat-elevation-z8 shadow-lg">
                    <table [dataSource]="chargesTableDataSource" mat-table>

                        <ng-container matColumnDef="id">
                            <th *matHeaderCellDef mat-header-cell>Datos de transacción</th>
                            <td *matCellDef="let element" mat-cell>
                                {{element.id}}<br/>
                                Precio: ${{(element.amount / 100)|number}} {{element.currency}}<br/>
                                Tarjeta:
                                **** {{element.payment_method_details.card.last4}} {{element.payment_method_details.card.brand}}
                                <br/>
                                Fecha: {{(element.created * 1000)|date: "dd-MM-yyyy hh:mm:ss a"}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th *matHeaderCellDef mat-header-cell> Estado</th>
                            <td *matCellDef="let element" mat-cell>
                                <ion-badge color="{{element.status == 'succeeded' ? 'primary' : 'danger'}}">
                                    {{element.status == 'succeeded' ? 'Completado' : (element.status == 'failed' ? 'Fallido' : element.status)}}
                                </ion-badge>
                            </td>
                        </ng-container>

                        <tr *matHeaderRowDef="chargesDisplayedColumns; sticky: true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: chargesDisplayedColumns;" mat-row></tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Tarjetas utilizadas">
                <div class="example-container mat-elevation-z8">
                    <table [dataSource]="methodsTableDataSource" mat-table>

                        <!-- Position Column -->
                        <ng-container matColumnDef="data">
                            <th *matHeaderCellDef mat-header-cell> Datos de tarjeta</th>
                            <td *matCellDef="let element" mat-cell>
                                Nombre: {{element.billing_details.name}}<br/>
                                Tarjeta: **** {{element.card.last4}} {{element.card.brand}}<br/>
                                Expira: {{element.card.exp_month}} / {{element.card.exp_year}}<br/>
                                Fecha: {{(element.created * 1000)|date: "dd-MM-yyyy hh:mm:ss a"}}
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="action">
                            <th *matHeaderCellDef mat-header-cell>Acciones</th>
                            <td *matCellDef="let element" mat-cell>
                                <ion-icon name="trash-outline" color="danger"
                                          (click)="detachPaymentMethod(element.id)"></ion-icon>
                            </td>
                        </ng-container>

                        <tr *matHeaderRowDef="methodsDisplayedColumns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: methodsDisplayedColumns;" mat-row></tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</ion-content>


